{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<main class="login_signup">
    <div class="element_container">
        <div class="title_form">
            <h2>Nouveau mot de passe</h2>
        </div>
    </div>
    {# Formulaire de demande de récup mdp #}
    {{form_start(resetForm)}}
        {{form_row(resetForm.password)}}
        {{form_row(resetForm.submit)}}
    {{form_end(resetForm)}}
</main>
{% endblock %}