{% extends 'base.html.twig' %}

{% block title %}Créer une collection{% endblock %}

{% block body %}
<section class="collection_creation_container">
	<div class="close_btn">
		<a href="{{ path('app_user_profile') }}" class="material-icons">arrow_back</a>
	</div>
    <div class="collection_form">
        {{form_start(collectionForm)}}
            {{form_row(collectionForm.name)}}
        {{form_end(collectionForm)}}
    </div>
</section>
{% endblock %}
