@use "../abstract/mixin";
@use "../abstract/variables" as var;

// pour la landing header légèrement différent que pour le reste du site
.header_mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 20px;
    padding-bottom: 20px;

    .logo_wrapper {
        padding-left: 30px;
        @include mixin.flex;

        img {
            width: 50px;
            object-fit: cover;
        }
    }


     //////// BURGER MENU////////////
     
     .ham_wrapper {
        padding-right: 30px;

        .ham_burger {
            height: 50px;
            cursor: pointer;
            background-color: transparent;
            width: 50px;
            margin-left: auto;
            position: relative;

            span {
                height: 2px;
                z-index: 9999;
                width: 70%;
                background-color: var.$grayDarkText;
                border-radius: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            // transition sauf pour le 2eme qui disparait directement au clic
            span:not(:nth-child(2)) {
                transition: .3s ease;
            }

            span:nth-child(1) {
                top: 25%;
            }

            span:nth-child(3) {
                top: 75%;
            }

            &.active {
                span:nth-child(1) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            } 
        }
     }

    .off_screen_menu {
        @include mixin.flex(column, flex-start, center);
        position: fixed;
        background-color: var.$secondaryDark;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9998;
        top: 0;
        right: -100%;
        text-align: center;
        font-size: 2rem;
        transition: .3s ease;

        &.active {
            right: 0;
        }

        .logo_wrapper {
            width: 100%;
            padding-left: 0px;
            padding-top: 20%;

            img {
                width: 50px;
                object-fit: cover;
            }
        }

        nav {
            background-color: var.$secondaryDark;
            width: 100%;

            ul {
                @include mixin.flex(column, space-between, center);
                background-color: var.$secondaryDark;
                font-family: var.$dm-regular;
                font-size: var.$desktop-h4;
            }

            // Affichage des liens de la navigation
            .nav_links {
                @include mixin.flex(row, space-evenly,center);
                width: 100%;
                margin-top: 50px;
                
                a {
                    color: var.$grayDarkText;
                }

                .material-icons {
                    background-color: var.$secondaryDark;
                    color: var.$grayDarkText;
                    font-size: 35px;
                }
            }

            // Affichage des liens de connexion
            .log_links {
                @include mixin.flex($direction: column);
                margin-top: 5rem;
                gap: 1.5rem;

                a {
                    color: var.$grayDarkText;
                    padding: 5px 20px;
                }
            }
        }
    }
}

.header_desktop {
    @include mixin.flex($justify: space-between);
    background-color: var.$primary;
    padding-top: 5px;
    padding-bottom: 10px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    .logo_wrapper {
        @include mixin.flex;
        padding-left: 20px;

        img {
            width: 170px;
            padding-top: 5px;
            object-fit: cover;
        }
    }

    nav {
        @include mixin.flex;
        font-family: var.$dm-regular;
        font-size: var.$desktop-h4;          
        padding-right: 20px;
        .nav_links {
            @include mixin.flex;
            position: relative;
            width: 100%;
            li {
                @include mixin.flex;
                &:not(:first-of-type) {
                    padding-left: 60px;
                }
            }
        }

        .not_registered {
            @include mixin.flex;
            gap: 3rem;
            a {
                color: var.$grayDarkText;

                &:hover {
                    color: var.$secondaryDark;
                }
            }
        }

        .material-icons {
            color: var.$grayDarkText;
            font-size: 35px;
            transition: .3s ease;
            &.active {
                color: var.$complementary;
                border-bottom: 2px solid var.$complementary;
            }
            &:hover {
                color: var.$complementary;
            }
        }
    }
}

@media screen and (max-width: 768px) {
  .header_mobile {
    @include mixin.flex($justify: space-between);
  }

  .header_desktop {
    display: none;
  }
}