@font-face {
    font-family: 'TiemposRegular';
    src: url('../../font/TiemposFine-Regular.woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposMedium';
    src: url('../../font/TiemposFine-Medium.woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DmRegular';
    src: url('../../font/DMSans_18pt-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}