// Colors
$primary: #FAF9F7;
$secondaryLight: #F0EEE6;
$secondaryDark: #E3DACC;
$complementary: #B9DAE6;
$accent: #F8C8C8;
$grayText: #BABABA;
$grayDarkText: #3B3B3B;
$closeBtn: #1C1B1F;
$logoutBtn: #E6A9A4;

// Fonts families
$tiempos-regular: 'TiemposRegular';
$tiempos-medium: 'TiemposMedium';
$dm-regular: 'DmSans';


// Font sizes (mobile)
$mobile-h1: 70px;
$mobile-h2: 28px;
$mobile-h3: 24px;
$mobile-h4: 20px;
$mobile-h5: 28px;
$mobile-body2: 18px;
$mobile-body3: 11px;
$mobile-button: 14px;
$mobile-caption: 12px;

// Font sizes (desktop)
$desktop-h1: 110px;
$desktop-h2: 36px;
$desktop-h3: 32px;
$desktop-h4: 24px;
$desktop-h5: 24px;
$desktop-body2: 20px;
$desktop-body3: 14px;
$desktop-button: 16px;
$desktop-caption: 16px

// Font sizes (desktop) -> à définir
// $desktop-h1: 36px;
// $desktop-h2: 28px;
// $desktop-h3: 24px;
// $desktop-h4: 20px;
// $desktop-h5: 28px;



 