{% extends 'base.html.twig' %}

{% block title %}Créer le haïku{% endblock %}

{% block body %}
<section class="no_words">
    <div class="max-w-site ia_bg">
        <div class="ia_title">
            <h2>Aucun mots disponible pour le moment</h2>
        </div>
        <div class="form_container">
            <h3>Générez des mots avec IA !</h3>
            <p>Choisissez un thème :</p>
            <form action="{{ path('app_haiku_generate_ia') }}" method="post">
            <div class="themes_buttons">
                <button type="submit" name="theme" value="nature">Nature</button>
                <button type="submit" name="theme" value="amour">Amour</button>
                <button type="submit" name="theme" value="lumiere_ombre">Lumière et ombre</button>
                <button type="submit" name="theme" value="ville">La ville</button>
                <button type="submit" name="theme" value="enfance">L'enfance</button>
                <button type="submit" name="theme" value="voyage">Voyage</button>
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block footer%}{% endblock %}
