@use "../abstract/mixin";
@use "../abstract/font";
@use "../abstract/variables" as var;


.conf {
    @include mixin.flex(column, center, center);
    padding-top: 50px;
    width: 100%;
    padding-bottom: 50px;

    .page {
        width: 100%;
        @include mixin.flex(column, center, center);
    }

    .conf_title {
        @include mixin.flex;
        text-align: center;
        font-family: var.$tiempos-regular
    }

    .articles {
        @include mixin.flex(column, center, center);
        margin-top: 30px;
        width: 70%;
        font-family: var.$dm-regular;
        gap: 30px;
    }

    article {
        @include mixin.flex(column, center, flex-start);
        width: 100%;
        gap: 10px;
    }
}
