
@use "../abstract/mixin";
@use "../abstract/font";
@use "../abstract/variables" as var;

.feed {
    @include mixin.flex($align: flex-start);
    min-height: 90vh;

    .background_size {
        @include mixin.flex(column, center, center);
        padding-left: 10%;
        padding-right: 10%;
    }

    .feed_title {
        @include mixin.flex(column, center, flex-start);
        align-self: flex-start;
        margin-top: 10em;
        margin-bottom: 60px;
    }
}