@use "../abstract/mixin";
@use "../abstract/font";
@use "../abstract/variables" as var;

// HERO

.hero_container {
    @include mixin.flex;
    width: 100%;

    .hero {
        @include mixin.flex(column, center, flex-start);
        width: 100%;
        height: 250px;

        .title {
            @include mixin.flex(column, center, center);
            width: 100%;

            h1 {
                // padding-left: 45px;
                transform: translateX(-55%);
                margin-bottom: -15px;
            }
 
            h3 {
                padding-left: 100px;
                font-size: var.$desktop-h4;
                font-weight: 300;
            }
        }

    }
}

//////////////////////////////////// CONCEPT
section {
    @include mixin.flex(column, center, center);
    width: 100%;

    .title {
        // pour iso maquette: padding du titre - padding sur la section
        padding-top: 60px;
        align-self: flex-start;
        width: 100%;
        margin-bottom: 22px;
        font-family: var.$dm-regular;
    }

    .title_concept {
        font-family: var.$dm-regular;
        align-self: flex-start;
        padding-left: 30px;
    }


    .text_concept {
        font-family: var.$dm-regular;

        p {
            font-family: var.$dm-regular;
            font-size: var.$desktop-body2;
            font-weight: 300;
            
            span {
                font-family: var.$tiempos-regular;
                font-size: var.$desktop-body2;
            }
        }
    }

    .swiper-parent {
        width: 100%;
        max-width: 1440px;
        @include mixin.flex($direction: column);

        .swiper-container {
            width: 100%;
            position: relative;
            padding-bottom: 40px;
            overflow: hidden;
        }
    }

    .swiper-wrapper {
        display: flex;
        width: full;
    }

    .swiper-slide {
        @include mixin.flex;
    }

    .swiper-slide-content {
        @include mixin.flex(column, center, center);
        text-align: justify;
        padding: 20px;
        max-width: 400px;
        margin-left: 10px;
        margin-right: 10px;
        height: 550px;
        background-color: var.$secondaryDark;
        border-radius: 5px;
        box-sizing: border-box;
        gap: 1em;

        .title_content {
            @include mixin.flex(column, flex-start, center);
            gap: 20px;
        }

        .title_card {
            align-self: flex-start;
            font-family: var.$dm-regular;
            font-weight: 700;
            
            h3 {
                font-size: var.$desktop-h4;
            }
        }

        .img_wrapper {
            @include mixin.flex; // temporaire juste pour afficher image
            width: 250px;
            height: 200px;
            margin-bottom: 15px;
            border: 1px solid black;
        }
    }

    // parent relative = swiper-container
    .swiper-pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
            .swiper-pagination-bullet {
                background-color: var.$grayText;
                width: 10px;
                height: 10px;
                opacity: .5;
            }

            .swiper-pagination-bullet-active {
                background-color: var.$grayDarkText;
                opacity: 1;
            }
    }

    .cta {
        margin-top: 50px;
        align-self: center;
    }
}

//////////////////////////////////// HAIKUP_DETAIL
.background {
    @include mixin.flex(column, center, center);
    background-color: var.$secondaryLight;
    width: 100%;
}
.haiku_details {

    .cta {
        background-color: var.$secondaryDark;

        &:hover {
            background-color: var.$secondaryLight;
        }
    }
}
.details_child {
    @include mixin.flex(column, center, center);
    padding-right: 18px;
    padding-left: 18px;
    width: 90%;
    font-family: var.$dm-regular;
    font-size: var.$desktop-body2;
    font-weight: 300;
    color: var.$grayDarkText;
    gap: 22px; 
    margin-bottom: 4em;

    .title_description {
        align-self: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    span {
        font-family: var.$tiempos-regular;
    }
    
}

.haiku_description {
    @include mixin.flex(column, center,center);

    .subtitle {
        align-self: flex-start;
        padding-bottom: 50px;

        .text {
            padding-top: 50px;
        }
    }


    .description {
        @include mixin.flex($justify: space-between);
        width: 100%;
        gap: 50px;
    }
    .text {
        @include mixin.flex(column, center, flex-start);
        align-self: flex-start;
        padding-top: 20px;
        gap: 20px;

        .text_haiku {
            @include mixin.flex(column, center, flex-start);
            padding-top: 20px;
            gap: 15px;
            span {
                display: block;
            }
        }
    }

    .img_wrapper {
        width: 60%;
        height: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

.history {
    @include mixin.flex(column, center, flex-start);

    .subtitle {
        padding-bottom: 50px;
    }

    .description {
        @include mixin.flex($justify: flex-start);
        width: 100%;
        gap: 50px;

        .text {
            @include mixin.flex(column, center, flex-start);
            align-self: flex-start;
            padding-top: 20px;
            gap: 15px;

            .text_haiku {
                @include mixin.flex(column, center, flex-end);
                padding-top: 20px;
                gap: 20px;
                span {
                    display: block;
                }
            }
        }
    }
}

.wordwide {
    @include mixin.flex(column, center, center);

    .subtitle {
        align-self: flex-end;
    }

    .description {
        @include mixin.flex($direction: row-reverse);
        width: 100%;
        gap: 50px;


        .text {
            @include mixin.flex(column, center, flex-end);
            text-align: right;
            align-self: flex-start;
            padding-top: 20px;
            gap: 15px;
            .text_haiku {
                @include mixin.flex(column, center, flex-end);
                padding-top: 20px;
                gap: 20px;
                span {
                    display: block;
                }
            }
        }
        .img_wrapper {
            width: 50%;
            height: 500px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}

.haikup {
    @include mixin.flex(column, center, center);

    .description {
        @include mixin.flex($direction: row-reverse);
        width: 100%;
        gap: 50px;

        .text {
            @include mixin.flex(column, center, center);
            padding-top: 20px;
            gap: 2rem;

            .first_verse {
                @include mixin.flex(column, center,center);
            }

            .haiku_text {
                @include mixin.flex(column, center, center);
                span {
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    section {
        .swiper-slide-content {
            height: 600px;
        }
    }
    .haiku_description {

        .description {
            @include mixin.flex(column-reverse, center, center);
        }

        .text {
            @include mixin.flex(column, center, center);
            align-self: center;
            text-align: center;
        }

        .img_wrapper {
            width: 90%;
            height: 250px;
        }
    }

    .history {

        .description {
            @include mixin.flex(column, center, center);

            .text {
                @include mixin.flex(column, center, center);
                align-self: center;
                gap: 10px;
                text-align: center;

                .text_haiku {
                    @include mixin.flex(column, center, center);
                    gap: 15px;
                }
            }
        }
    }

    .wordwide {

        .description {
            @include mixin.flex(column, center, center);

            .text {
                @include mixin.flex(column, center, center);
                align-self: center;
                text-align: center;
                gap: 5px;

                .text_haiku {
                    @include mixin.flex(column, center, flex-start);
                    gap: 15px;
                }
            }

            .img_wrapper {
                width: 90%;
                height: 250px;
            }
        }
    }

    .haikup {
        text-align: center;
    }
}
