@use "../abstract/mixin";
@use "../abstract/font";
@use "../abstract/variables" as var;

.login_signup {
    @include mixin.flex(column, flex-start, center);
    min-width: 100%;
    min-height: 70vh;
    background: var.$primary;

    .close_btn {
        @include mixin.flex($justify: flex-start);
        padding-left: 5%;
        width: 100%;
        margin-top: 50px;

        a {
            padding-left: 43px;
            color: var.$closeBtn;
            transition: transform .3s ease;

            &:hover {
                transform: translateX(-4px);
            }
        }
    }

    .element_container {
        @include mixin.flex(column, center, center);
        width: 100%;
        margin-bottom: 58px;
        margin-top: 43px;
        gap: 3px;

        .title_form {
            @include mixin.flex;
            font-family: var.$dm-regular;
            text-align: center;

            h2 {
                font-size: var.$desktop-h3;
            }
        }

        // Juste pour le form de contact
        .title_form_contact {
            @include mixin.flex(column, center, center);
            font-family: var.$dm-regular;
            gap: 10px;
            margin-bottom: 30px;
            text-align: center;

            h2 {
                font-size: var.$desktop-h3;
            }
        }
        .contact_form {
            width: 100%;

            div {
                width: 25%;
            }
        }
        

        // Pour l'instant supprimé voir si on y revient
        // .subtitle_form {
        //     @include mixin.flex;
        //     font-family: var.$dm-regular;
        //     width: 100%;

        //     p {
        //         font-size: var.$mobile-h4;
        //     }
        // }
    }

    // FORMULAIRE
    form {
        @include mixin.flex(column, center, center);
        width: 100%;

        .alert {
            margin-bottom: 2rem;
        }

        // alignement du "mot de passe oublié"
        a {
            align-self: flex-end;
            padding-top: 3px;
            color: var.$grayDarkText;
            text-decoration: underline;
            font-size: var.$desktop-body3;
            margin-top: 6px;
            text-underline-offset: 2px;
            transition: .3s ease;
            cursor: pointer;

                &:hover {
                    color: var.$grayText;
                }
        }

        div {
            @include mixin.flex(column, flex-start, center);
            width: 280px;
            margin-bottom: 30px;

            &:nth-child(3) {
                margin-bottom: 10px;
            }

            input {
                all: unset;
                margin-top: 4px;
                border: 1px solid var.$grayText;
                border-radius: 2px;
                box-shadow: inset 0px 2px 5px rgba(var.$grayText, 35%);
                width: 100%;
                padding-left: 5px;
                height: 32px;
                transition: .3s ease;

                &:focus {
                    background-color: var.$secondaryLight;
                }
            }

            label, ul, p {
                align-self: flex-start;
            }

            label {
                color: var.$grayDarkText;
                font-family: var.$tiempos-regular;
                font-size: var.$desktop-caption;
                display: block; // fix le mouvement du changement de border sur l'input quand on hover
                margin-bottom: 2px;

            }

            p {
                font-family: var.$dm-regular;
                font-size: var.$desktop-body3;
                color: var.$grayDarkText;
            }

            li {
                    list-style-type: disc;
                    margin-left: 1rem;
                    color: var.$grayDarkText;
                    font-size: var.$desktop-body3;
                }
        }

        div:last-of-type {
            @include mixin.flex;
            width: 106px;
            height: 30px;
            background-color: var.$secondaryLight;
            border-radius: 3px;
            box-shadow: -0.5px 1px 5px rgba(0, 0, 0, 0.20);
            border: 1px solid var.$grayText;
            transition: .3s ease;
            cursor: pointer;

            &:hover {
                background-color: var.$secondaryDark;
                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.20);
            }

            button {
                all: unset;
                color: var.$grayDarkText;
                font-family: var.$dm-regular;
                font-size: var.$desktop-button;
            }
        }
    }
    // LIEN VERS CONNEXION
    .login_link {
        @include mixin.flex;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 5px;
        color: var.$grayDarkText;
        font-size: var.$desktop-body3;

        a {
            color: var.$grayDarkText;
            text-decoration: underline;
            text-underline-offset: 2px;
            cursor: pointer;
            transition: .3s ease;

            &:hover {
                color: var.$grayText;
            }
        }
    }

    // Spécialement pour le formulaire d'ajout de description
    textarea { 
    all: unset;
    margin-top: 4px;
    border: 1px solid var.$grayText;
    border-radius: 2px;
    box-shadow: inset 0px 2px 5px rgba(var.$grayText, 35%);
    width: 1000px;
    height: 400px;
    padding-left: 5px;
    padding-top: 5px;
    font-family: var.$dm-regular;
    transition: .3s ease; 
    white-space: pre-wrap; // Force le retour à la ligne quand nécessaire
    word-wrap: break-word; // Coupe les mots trop longs

    &:focus {
        background-color: var.$secondaryLight;
    }

    &::placeholder {
        text-align: center;
    }
}

// Spécialement pour le reset du password car visuel différent : 
// Un peu patch -> 
.first_recup_password {
    padding-bottom: 0px !important;
}

.second_recup_password {
    padding-bottom: 34px !important;
}
.explication_form {
    @include mixin.flex;
    width: 80%;
    text-align: center;
    font-family: var.$dm-regular;
    font-size: var.$desktop-body3;
    margin-bottom: 8px;
}

// Pour l'envoi du haiku
.words_container {
    @include mixin.flex(column, center, center);
    border: 1px solid var.$grayText;
    padding: 15px;
    border-radius: 3px;
    gap: 5px;
    margin-bottom: 30px;
    color: var.$grayDarkText;

    .words_title {
        font-family: var.$dm-regular;
        margin-bottom: 20px;
    }

    .word{
        @include mixin.flex(column, center, center);
        width: 100%;
        gap: 10px;
        p {
            font-family: var.$tiempos-medium;
        }
    } 
}

}
@media screen and (max-width: 1000px) {

    .login_signup {
        textarea {
        width: 600px;
        }
    }
}

@media screen and (max-width: 600px) {

    .login_signup {
        textarea {
        width: 200px;
        }
    }
}