{% extends 'base.html.twig' %}

{% block title %}Haikup{% endblock %}

{% block body %}
    <section class="conf max-w-site">
        <div class="conf_title">
            <h2>Politique de Confidentialité</h2>
        </div>
        <div class="articles">
            <article>
                <h3>Introduction</h3>
                <p>Haikup vous permet de partager vos créations littéraires sous forme de haikus. La protection de vos données personnelles est une priorité pour nous.</p>
            </article>
            <article>
                <h3>Données collectées</h3>
                <p>Lors de votre inscription, nous collectons uniquement les informations suivantes:</p>
                <ul>
                    <li>• Votre adresse email</li>
                    <li>• Votre nom d’utilisateur</li>
                    <li>• Votre mot de passe (qui est stocké de manière sécurisée et cryptée)</li>
                </ul>
                <p>Nous ne collectons aucune autre donnée personnelle.</p>
            </article>
            <article>
                <h3>Utilisation des données</h3>
                <p>Vos données sont utilisées uniquement pour :</p>       
                <ul>
                    <li>• Gérer votre compte utilisateur</li>
                    <li>• Vous permettre d’accéder au site et partager vos créations</li>
                    <li>• Vous envoyer éventuellement des communications importantes liées au service (ex : changement de conditions, support)</li>
                </ul>        
            </article>
            <article>
                <h3>Cookies</h3>
                <p>Notre site n’utilise pas de cookies ni d’autres traceurs.</p>
            </article>
            <article>
                <h3>Sécurité des données</h3>
                <p>Nous prenons des mesures techniques et organisationnelles pour protéger vos données personnelles contre tout accès non autorisé, perte ou divulgation.</p>
            </article>
            <article>
                <h3>Partage des données</h3>
                <p>Vos données ne seront jamais vendues, louées ou communiquées à des tiers, sauf si la loi l’exige.</p>
            </article>
            <article>
                <h3>Vos droits</h3>
                <p>Conformément à la réglementation, vous disposez d’un droit d’accès, de modification, 
                de rectification et de suppression de vos données personnelles. 
                Pour exercer ces droits, vous pouvez nous contacter à l’adresse suivante : [ton-email@example.com].</p>
            </article>
            <article>
                <h3>Modifications de la politique</h3>
                <p>Nous nous réservons le droit de modifier cette politique de confidentialité. Toute modification sera affichée sur cette page.</p>
            </article>
        </div>
    </section>
{% endblock %}
