{% extends 'base.html.twig' %}

{% block title %}Haikup{% endblock %}

{% block body %}
{# what's the bg ? #}
<section class="hero">
    <div class="title_container">
        <h1></h1>
        <h3></h3> 
    </div>
</section>
<section class="presentation">
    <div class="title_container">
        <h2></h2>
        {# subtitle - text #}
        <h4></h4>
    </div>
    <div class="inline_container">
        <div class="image_text">
            <div class="img_wrapper">
                {# img abs ->  #}
            </div>
            <div class="text_presentation text">
                <p></p>
            </div>
        </div>
    </div>
    <div class="outline_text">
        <p></p>
    </div>
    <div class="cta">
        {# cta btn -> assets #}
    </div>
</section>
{% endblock %}
